.nav-bar {
  width: 100%;
  min-height: 54px;
  position: sticky;
  top: 0;
  z-index: 9000;
  background: fixed;
  background-color: #001935;
  font-size: x-large;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .13);
}

.fa-resolving {
  margin-left: 20px;
}

.login-info, .logout-info {
  margin-right: 20px;
}

.nav-bar a, .nav-bar a:visited, .nav-bar a:hover, .nav-bar a:active {
  text-decoration: none;
  color: whitesmoke;
}

.nav-bar i {
  color: whitesmoke;
}

.user-dropdown {
  position: fixed;
  top: 44px;
  right: 10px;
  z-index: 9001;
  width: 240px;
  min-height: 20px;
  border-radius: 3px;
  background-color: #FFFFFF;
  color: #444444;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  box-shadow: 1px 1px 10px 1px #888888;
}

.user-dropdown i {
  color: #444444;
}

.user-dropdown a, .user-dropdown a:visited, .user-dropdown a:hover, .user-dropdown a:active {
  color: #444444;
}

.user-dropdown-account .dropdown-li {
  padding: 15px;
}

.fa-user {
  padding: 1px;
}

.dropdown-account {
  background-color: #F2F2F2;
  padding: 0px 20px 0px 10px;
  line-height: 24px;
  font-size: 11px;
}

.dropdown-account>div {
  display: flex;
  justify-content: space-between;
}

.dropdown-li:hover {
  background-color: #E6EFF7;
}

.dropdown-li {
  display: flex;
  justify-content: space-between;
}

.tumblrs-info-main {
  box-sizing: border-box;
  margin: 5px;
}

.tumblrs-info-main img {
  height: 36px;
  width: 36px;
  margin-bottom: 5px;
  float: left;
}

.tumblrs-info-username {
  margin: 5px;
  padding-left: 40px;
  padding-top: 10px;
}

.tumblrs-li:nth-child(2) {
  margin-top: 25px;
}

.tumblrs-li:last-child {
  margin-bottom: 10px;
}

.tumblrs-li {
  margin-left: 30px;
  margin-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}

.tumblrs-li:hover {
  background-color: #E6EFF7;
}

.account-logout:hover {
  cursor: pointer;
}