.main-feed {
  max-width: 625px;
  position: relative;
  margin-top: 20px;
}

.top-container {
  display: flex;
  justify-content: space-between;
  max-width: 625px;
}

.top-links-container {
  border-radius: 3px;
  background-color: #ffffff;
  position: relative;
  right: 0px;
  width: 540px;
}

.top-links {
  display: flex;
  right: 0;
  padding-top: 25px;
  padding-bottom: 25px;
}

.top-links.hidden {
  display: none;
  /* transition: opacity 1s ease-out;
  height: 0;
  overflow: hidden;
  opacity: 0; */
}

.top-links:hover {
  cursor: pointer;
}

.top-link {
  text-align: center;
  line-height: 21px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: #696969;
  width: 75px;
  min-height: 50px;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  transition: all 333ms ease-in-out;
}

.top-link-wrap:last-child {
  border: none;
}

.top-link-wrap {
  border-right: 1px solid lightgray;
}

.top-link:hover {
  transform: scale(1.6);
}

.top-link i:hover {
  transform: none;
}

.input-div {
  /* width: 100%; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  color: #444;
}

.input-div input, .input-div textarea, .input-div form {
  /* width: 100%; */
  border: none;
  padding: 0px;
}

.input-div input:focus, .input-div textarea:focus {
  /* width: 100%; */
  border: none;
  padding: 0px;
  outline: none;
}

.input-username {
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}

.input-buttons-div {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.input-button {
  padding: 5px 7px 5px 7px;
  text-align: center;
  border: none;
  color: white;
  border-radius: 3px;
}

.cancel-btn {
  background-color: #9da6af;
}

.post-btn {
  background-color: #00b8ff;
}

.post-btn.disabled {
  background-color: #9da6af;
}

.cancel-btn:focus, .post-btn:focus {
  outline: none;
}

.text-post, .quote-post, .link-post, .chat-post {
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.link-post {
  box-sizing: border-box;
}

.text-title, .link-title {
  font-size: 48px;
  width: 100%;
}

.text-body {
  resize: none;
  height: 100%;
  width: 100%;
}

.quote-body {
  font-family: Georgia,serif;
  font-size: 48px;
  min-height: 60px;
  width: auto;
}

.link-body {
  width: 100%;
}

.photo-preview:hover {
  box-sizing: border-box;
  border: 1px solid red;
}

.photo-input {
  outline: 0;
  width: 100%;
  height: 100%;
}

#photo-uploader {
  display: none;
}

.photo-button {
  font-family: Arial, Helvetica, sans-serif;
  color: #989898;
  background-color: #f2f2f2;
  border: 3px dashed #cfcfcf;
  text-align: center;
  padding: 20px;
}

.photo-button:hover, .photo-button *:hover {
  cursor: pointer;
}

.photo-button-text {
  width: 100%;
  height: 100%;
}

.photo-button-text input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  font-size: 10000px;
}

.audio-input {
  outline: 0;
  width: 100%;
  height: 100%;
}

#audio-uploader {
  display: none;
}

.audio-button {
  font-family: Arial, Helvetica, sans-serif;
  color: #989898;
  background-color: #f2f2f2;
  border: 3px dashed #cfcfcf;
  text-align: center;
  padding: 20px;
}

.audio-button:hover, .audio-button *:hover {
  cursor: pointer;
}

.audio-button-text {
  width: 100%;
  height: 100%;
}

.audio-button-text input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  font-size: 10000px;
}

.video-input {
  outline: 0;
  width: 100%;
  height: 100%;
}

#video-uploader {
  display: none;
}

.video-button {
  font-family: Arial, Helvetica, sans-serif;
  color: #989898;
  background-color: #f2f2f2;
  border: 3px dashed #cfcfcf;
  text-align: center;
  padding: 20px;
}

.video-button:hover, .video-button *:hover {
  cursor: pointer;
}

.video-button-text {
  width: 100%;
  height: 100%;
}

.video-button-text input[type=file] {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0%;
  font-size: 10000px;
}

.media-input-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  width: 100%;
  padding: 10px !important;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;
}

.media-input-body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  padding: 10px !important;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;
}

.post-index-post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-bottom: 15px;
}

.post-div {
  margin-left: 20px;
}

.sticky-test {
  position: sticky;

}

.profile-img-icon {
  position: sticky;
}

.post-errors {
  box-sizing: border-box;
  width: 540px;
  background-color: rgba($color: #000000, $alpha: 0.5);
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  border-radius: 3px;
  padding: 10px;
  margin: 10px 10px 10px 85px;
}

video:focus, audio:focus {
  outline: none;
}

audio {
  width: 100%;
}
