.main-feed {
  max-width: 625px;
  position: relative;
}

.main-feed-ul {

}

.top-container {
  display: flex;
  justify-content: space-between;
  max-width: 625px;
}

.top-links-container {
  border-radius: 3px;
  background-color: #ffffff;
  position: relative;
  right: 0px;
  width: 540px;
}

.top-links {
  display: flex;
  right: 0;
}

.top-links.hidden {
  display: none;
}

.top-link {
  display: flex;
  text-align: center;
  line-height: 21px;
  font-size: 15px;
  width: 75px;
  min-height: 99px;

  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.top-links:hover {
  cursor: pointer;
}

.input-div {
  width: 100%;
}

.input-div input {
  width: 100%;
}

.post-index-post {
  width: 625px;
  display: flex;
  justify-content: space-between;
  padding: 15px 0 0;
}

.input-buttons-div {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px 15px 20px;
}

.photo-preview:hover {
  box-sizing: border-box;
  border: 1px solid red;
}