.post-div {
  border-radius: 3px;
  background-color: #ffffff;
  width: 540px;
}

.post-div a, .post-div a:visited, .post-div a:hover, .post-div a:active {
  color: black;
  text-decoration: none;
}

.link-post {
  font-size: xx-large;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  vertical-align: baseline;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.post-footer-options {
  display: flex;
  justify-content: space-between;
}

.photos-post-photo {
  width: 100%;
  height: auto;
}

.post-image-icon {
  position: relative;
}

.profile-img-icon {
  position: sticky;
  position: -webkit-sticky;
}

.media-post-title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  width: 100%;
  padding: 10px !important;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;
}

.media-post-body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  width: 100%;
  padding: 10px !important;
  box-sizing: border-box;

  margin-top: 10px;
  margin-bottom: 10px;
}

.quote-title {
  font-style: italic;
}

.unliked {
  color: #ff492f;
}

.post-menu {
  border-radius: 3px;
  background-color: white;
  box-sizing: border-box;
  position: absolute;
  /* float: right; */
  z-index: 5;
  box-shadow: 1px 1px 5px 1px #888888;
}

.post-menu li:first-child {
  color: lightgray;
}

.post-menu li {
  padding: 10px;
}

.post-menu li:hover {
  cursor: pointer;
  background-color: #E6EFF7;
}

.fa-cog {
  margin-left: 10px;
}
